 h1 {
    background-color: cornflowerblue;
    color: azure;
    text-align: center;
 }
 p {
    color: crimson;
    font-size: xx-large;
 }
 header {
    text-align: center;
    background-color:burlywood;
    color: cyan;
    font-size: xx-large;

 }

 

